<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BrAPI - AGENT</title>
  </head>
  <body>
    <h1>BrAPI Agent - endpoints</h1>
    <ul>
      <li>
        <em>/samples</em> - retrieve a list of all of the samples, e.g. 
        <a href="/genotyping/brapi/v2/samples"
          >/genotyping/brapi/v2/samples</a
        >
      </li>
      <li>
        <em>/samples/reference_id</em> - retrieve a sample searched by
        referenceID(ex biosample id: SAMEA*), e.g.
        <a href="/genotyping/brapi/v2/samples/SAMEA111493800"

          >/genotyping/brapi/v2/samples/SAMEA111493800</a
        >
      </li>
      <li>
        <em>/callsets</em> - retrieve a list of all callsets, e.g.
        <a href="/genotyping/brapi/v2/callsets"
          >/genotyping/brapi/v2/callsets</a
        >
      </li>
      <li>
        <em>/callsets/reference_id</em> - retrieve a callset searched by
        referenceID, e.g.
        <a href="/genotyping/brapi/v2/callsets/SAMEA114474862"
          >/genotyping/brapi/v2/callsets/SAMEA114474862</a
        >
      </li>
    </ul>
  </body>
</html>
