<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BrAPI - AGENT</title>
  </head>
  <body>
    <h1>BrAPI Agent - endpoints</h1>
    <ul>
      <li>
        <em>/samples</em> - retrieve a list of all of the samples, e.g. 
        <a href="http://localhost:5000/samples"
          >http://localhost:5000/samples</a
        >
      </li>
      <li>
        <em>/samples/reference_id</em> - retrieve a sample searched by
        referenceID(ex biosample id: SAMEA*), e.g.
        <a href="http://localhost:5000/samples/SAMEA111493800"
          >http://localhost:5000/samples/SAMEA111493800</a
        >
      </li>
    </ul>
  </body>
</html>
